<div class="container">
<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{nextRound.closeTimeDisplay}}| Draw ID: #{{nextRound.id}}</h5>

  </div>
  <div class="card-body">
    <h2 class="card-title">Current Prize: {{nextRound.prizeFormated}} CLO</h2>
    <h2 class="card-title">Ticket Price: {{nextRound.ticketPrice}}  CLO</h2>
    <h2 class="card-title">Estimated Difficult:  {{nextRound.estimateDifficult}} Digits (should display slide bar)</h2>
    <h2 class="card-title">Winning chance: {{(1/ nextRound.currentRoundDigit) * 100}}%</h2>
    <a href="buy-ticket" class="btn btn-success">Buy Ticket</a>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    Draw history
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-dark">Draw ID</th>
        <th class="text-dark">Time</th>
        <th class="text-dark">Prize</th>
        <th class="text-dark">Winning Number</th>
        <th class="text-dark">Winners</th>
      </tr>
      </thead>
    <tbody>
    <tr *ngFor="let round of rounds">
      <td><a href="round/{{round.id}}">{{round.id}}</a></td>
      <td>{{round.closeTimeDisplay}}</td>
      <td>{{round.prizeFormated}} CLO</td>
      <td><span class="dot-25" *ngFor="let number of round.winningNumber.ticketIterators">{{number}}</span></td>
      <th>
        <span *ngIf="round.totalWinners ==0">No winner found</span>
        <span *ngIf="round.totalWinners >0"><a href="#">0x00</a></span>
        </th>
    </tr>
    </tbody>
    </table>
  </div>
</div>
<div>
  <button (click)="init()">Init Round</button>
</div>
</div>
<br/>
<!-- open a modal window by clicking button-->
